*{
	margin:0;
	padding:0;
	/* color:#000; */
	font-family:'Arial';
	}
	
.menu{
	width:100%;
	height:52px;
	background-color: #222;
	
	}
	
.menu>ul{
	list-style:none;	
	position:relative;
	margin-left:50px;
	}
.menu ul li{
		width:152px;
		float:left;
		
	}

.menu a{
	padding:15px;
	display:block;
	text-decoration: none;
	background-color: #222;
	text-align:center;
	color:#fff;
	}
.menu ul ul{
	list-style:none;
	position:absolute;
	visibility:hidden;
	
	}
.menu ul li:hover ul{
	visibility:visible;
	}
/* menu com mause em cima */	
.menu a:hover{
	background-color:#fff;
	color:#000;
	font-weight: bold;
	}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;
	}
/* memu espandido */
.menu ul ul li a{
	background-color:#000;
	color:#fff;
	}
#bt_menu{
	display: none;
	}
label[for='bt_menu']{
	padding:1px;
	background-color:#222;
	color:#fff;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	}	
label[for='bt_menu']:hover{
	background-color:#fff;
	color:#ccc;
	}
@media (max-width: 800px) {
.menu{
	margin-left:-100%;
	transition:all .4s;
	}
label[for='bt_menu']{
	display:block;
	}
.menu>ul{
	margin-left:0;
	}
.menu{
	margin-top:5px;
	}
.menu ul li{
	width:100%;
	float:none;
	}
.menu ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
	}
.menu ul li:hover ul{
	height:auto;
	max-height:200px;
	transition:all .4s;
	}
#bt_menu:checked ~ .menu{
	margin-left:0;
	}
}
